{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto">
                <h1 class="home-strap">Focussed exercise for EVERY&nbsp;body</h1>
                <!-- book now needs to link to calendar or check membership status to buy pack -->
                <div class="my-5">
                    <h4>
                        <a href="" class="book-now-button btn btn-lg rounded-3 text-uppercase py-3">Book now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>


{% endblock %}